<%- include('partials/header') %>

    <div class="post-container">
        <h2>
            <%=postTitle%>
        </h2>
        <p>
            <%=postBody%>
        </p>
    </div>

    <%- include('partials/footer') %>